.button {
    border: none;
    color: black;
    padding: 72px 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    transform: translate(185%, -10%);
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: #ffd700;
    color: white;
}

body {
    background-color: rgba(11,156,49,0.8);

}

.text {
    text-align: center;
    transform: translate(0%, 50%);
}

img {
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, 25%);
    width: 500px; height: 500px;
    object-fit: scale-down;
}

#count {
    position: relative;
    text-align: center;
    transform: translate(25%, 1000%);
    color: gold;
}
